@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

h1 {
    font-size: 8vw;
    padding-right: 15px;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 600px;
    width: 400px;
    background-color: black;
    border: 4px solid black;
}

#screen {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 98px;
    width: 398px;
    background-color: lightcyan;
    margin: 1px;
    border-radius: 5px;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#leftside {
    width: 75%;
}
#rightside {
    width: 25%;
}

#controls {
    display: flex;
    height: 25%;
    width: 100%;
}

#clear {
    background-color: lightgreen;
    width: 200px;
    border: 1px solid black;
}

#erase {
    background-color: lightgreen;
    width: 100px;
    border: 1px solid black;
}

#operators {
    display: flex;
    flex-direction: column;
}

.operatorBtn {
    background-color: lightsalmon;
    width: 100%;
    border: 1px solid black;
}

.operatorBtnActive {
    background-color: salmon;
    width: 100%;
    border: 1px solid black;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
}

.numberBtn {
    background-color: lightsteelblue;
    width: 100px;
    border: 1px solid black;
}

.zeroBtn {
    width: 300px;
}

.grow { transition: all .2s ease-in-out; }